<div class="root">
  <div class="row">
    <div class="span12">
        <div class="row">
          <div class="span8">
            <div class="grey-box">

<!--               <div class="row">
                <div class="span7" style="background-color: grey;">
                  <div class="span1" style="margin-left: -3px; background-color: white;">
                    <img src="<%= @contact.avatar %>" class="item-user-image"/>
                  </div>
                  <div class="span6" style="background-color: yellow;">
                    <p>First name:<%= @contact.first_name %></p>
                    <p>Middle name:<%= @contact.middle_name %></p>
                  </div> 
                </div>
              </div>
 -->

              <div class="row">
                <div class="span7">
                    <div class="span1" style="margin-left: -3px">
                      <img src="<%= @contact.avatar %>"/>
                    </div>
                    <div class="span6">
                      <p>First name:<%= @contact.first_name %></p>
                      <p>Middle name:<%= @contact.middle_name %></p>
                      <p>Last name:<%= @contact.last_name %></p>
                      <p>Suffix:<%= @contact.suffix %></p>
                      <p>  Company:  <%= @contact.company %></p>
                      <p>  Department:  <%= @contact.department %></p>
                      <p>  Job title:  <%= @contact.job_title %></p>
                      <p>  Business street:  <%= @contact.business_street %></p>
                      <p>  Business city:  <%= @contact.business_city %></p>
                      <p>  Business state:  <%= @contact.business_state %></p>
                      <p>  Business zipcode:  <%= @contact.business_zipcode %></p>
                      <p>  Business fax:  <%= @contact.business_fax %></p>
                      <p>  Business phone:  <%= @contact.business_phone %></p>
                      <p>Business phone2:  <%= @contact.business_phone2 %></p>
                      <p>Company phone:  <%= @contact.company_phone %></p>
                      <p>Home phone  <%= @contact.home_phone %></p>
                      <p>Mobile phone:  <%= @contact.mobile_phone %></p>
                      <p>Other phone:  <%= @contact.other_phone %></p>
                      <p>Email:  <a href="mailto:<%= @contact.email %>"><%= @contact.email %></a></p>
                      <%= link_to 'Edit', edit_contact_path(@contact), class: 'btn btn-primary' %> |
                      <%= link_to 'Back', contacts_path, class: 'btn btn-primary'%>
                    </div>
                </div>
              </div>

            </div>
          </div>
          <div class="span3">
              <div class='grey-box'>  
                <h3><%= @contact.last_name %>, <%= @contact.first_name %></h3>
                <hr />
                <h4>Contact history</h4>
                <span class="text-item-body">
                  <ul>
                  <% @contact.posts.order(contact_date: :desc).each do |post| %>
                    <li>
                      <%= link_to(post.contact_date, post_path(post) )%>
                      by <%= post.user.display_name %>
                      via <%= post.contact_type.name %>
                    </li>
                  <% end %>
                  </ul>
                </span>
  <!--               <% 3.times do %>
                  <p><%= Faker::Lorem.paragraphs(2) %></p>
                <% end %> -->
              </div>
            </div>
        </div>
    </div>
  </div>      
</div>
              <!-- <div class="span1">
                <img src="<%= @contact.avatar %>" class="item-user-image"/>
              </div>
              <span class="text-item-body">
                <p>First name:<%= @contact.first_name %></p>
                <p>Middle name:<%= @contact.middle_name %></p>
                <p>Last name:<%= @contact.last_name %></p>
                <p>Suffix:<%= @contact.suffix %></p>
                <p>  Company:  <%= @contact.company %></p>
                <p>  Department:  <%= @contact.department %></p>
                <p>  Job title:  <%= @contact.job_title %></p>
                <p>  Business street:  <%= @contact.business_street %></p>
                <p>  Business city:  <%= @contact.business_city %></p>
                <p>  Business state:  <%= @contact.business_state %></p>
                <p>  Business zipcode:  <%= @contact.business_zipcode %></p>
                <p>  Business fax:  <%= @contact.business_fax %></p>
                <p>  Business phone:  <%= @contact.business_phone %></p>
                <p>Business phone2:  <%= @contact.business_phone2 %></p>
                <p>Company phone:  <%= @contact.company_phone %></p>
                <p>Home phone  <%= @contact.home_phone %></p>
                <p>Mobile phone:  <%= @contact.mobile_phone %></p>
                <p>Other phone:  <%= @contact.other_phone %></p>
                <p>Email:  <a href="mailto:<%= @contact.email %>"><%= @contact.email %></a></p>
              </span>
              <%= link_to 'Edit', edit_contact_path(@contact), class: 'btn btn-primary' %> |
              <%= link_to 'Back', contacts_path, class: 'btn btn-primary'%> -->
              <!-- <div class=" item-footer">
                <span class="raphael-icon post-logo">Posted</span>
                <span class="item-time">
                  <%= distance_of_time_in_words_to_now(@contact.created_at)%><br/>
                  [<%= @contact.created_at %>]
                </span>
                <span class="refeed-container"></span>
              </div> -->